.bg {
  background-color: #0b1525 !important;
}

.nav_container {
  padding: 0.5rem 5rem;
}

.nav_link,
.navbar-toggler {
  color: #fff !important;
}

.navbar_items {
  display: flex;
  justify-content: space-between;
}
